@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --c-scroll-track: #212121;
    --c-scroll-thumb: #424242;
}

.code-block-body::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.code-block-body::-webkit-scrollbar-track {
    background-color: var(--c-scroll-track);
    border-radius: 3.5px;
}

.code-block-body::-webkit-scrollbar-thumb {
    background-color: var(--c-scroll-thumb);
    border-radius: 3.5px;
}

@layer base {
    h1 {
        @apply my-5 border-b-[1px] border-b-neutral-content text-3xl font-black leading-10;
    }
    h2 {
        @apply mb-2 mt-7 text-3xl font-extrabold;
    }
    h3 {
        @apply mb-2 mt-5 text-2xl font-bold;
    }
    h4 {
        @apply mb-1 mt-3 text-xl font-bold;
    }
    p {
        @apply my-1 leading-8;
    }
    ul {
        @apply ml-8 list-disc max-lg:ml-4 max-lg:pl-2;
    }
    ol {
        @apply ml-8 list-decimal;
    }
    li {
        @apply leading-8;
    }
}
